{% extends "base.html" %}

{% block app_content %}
    <h1>Register Database</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.driver.label }}<br>
            {{ form.driver(size=32) }}<br>
            {% for error in form.driver.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.host.label }}<br>
            {{ form.host(size=32) }}<br>
            {% for error in form.host.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.db_name.label }}<br>
            {{ form.db_name(size=32) }}<br>
            {% for error in form.db_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.login.label }}<br>
            {{ form.login(size=32) }}<br>
            {% for error in form.login.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.remark.label }}<br>
            {{ form.remark(size=32) }}<br>
            {% for error in form.remark.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

