{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Links{% else %}Welcome to Links{% endif %}
{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header" style="text-align: center">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Links</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true"
                        aria-expanded="false">General<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Background Job</a></li>
                            <li><a href="#">DB Register</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="{{ url_for('app_team') }}" class="dropdown-toggle" data-toggle="dropdown"
                        role="button" aria-haspopup="true"
                        aria-expanded="false">App<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('email_template') }}">Email</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
